<?php

$table_collection = $block->getDBCollection();
$page_number = 1;

if (!empty($_GET["page"]))
    if (is_numeric($_GET["page"]))
        $page_number = $_GET["page"];


?>

<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <?php foreach ($table_collection
                       ->setPageSize(20)
                       ->setCurPage($page_number)
                   as $item): ?>
        <tr>
            <td><?php echo $item->getId();?></td>
            <td><?php echo $item->getName();?></td>
            <td><?php echo $item->getDescription();?></td>
            <td><?php echo $item->getStatus();?></td>
        </tr>
    <?php endforeach; ?>
    </tbody>
</table>

<?php
$next_page = $page_number + 1;
$prev_page = $page_number > 1 ? $page_number - 1 : $page_number;
echo "<a href=\"index?page=$prev_page\">Previous</a>";
echo "<a style=\"float: right;\" href=\"index?page=$next_page\">Next</a>";

?>

